In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../Dataset/iris.csv')
data.head()
X = data.drop('species',axis=1)
y=data['species']

In [3]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
Gaussian_NB = GaussianNB()
Multinomial_NB = MultinomialNB()
Bernoulli_NB = BernoulliNB()
Gaussian_model = Gaussian_NB.fit(X_train,y_train)
Multinomial_model = Multinomial_NB.fit(X_train,y_train)
Bernoulli_model = Bernoulli_NB.fit(X_train,y_train)
y_pred_Gaussian = Gaussian_model.predict(X_test)
y_pred_Multinomial = Multinomial_model.predict(X_test)
y_pred_Bernoulli = Bernoulli_model.predict(X_test)

In [19]:
from sklearn import metrics
print("Accuracy using Gaussian : ",metrics.accuracy_score(y_test,y_pred_Gaussian))
print("Accuracy using Multinomial : ",metrics.accuracy_score(y_test,y_pred_Multinomial))
print("Accuracy using Bernoulli : ",metrics.accuracy_score(y_test,y_pred_Bernoulli))
# print("Precision: ",metrics.precision_score(y_test,y_pred,average='weighted'))
# print("Recall: ",metrics.recall_score(y_test,y_pred,average='weighted'))
# print("f1 score: ",metrics.f1_score(y_test,y_pred,average='weighted'))

Accuracy using Gaussian :  0.9666666666666667
Accuracy using Multinomial :  0.5666666666666667
Accuracy using Bernoulli :  0.2

In [40]:
data = pd.read_csv('../Dataset/adult_income.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [44]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
data[['workclass','education','marital-status','occupation','relationship','race','gender','native-country']]=data[['workclass','education','marital-status','occupation','relationship','race','gender','native-country']].apply(le.fit_transform)
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,4,226802,1,7,4,7,3,2,1,0,0,40,39,<=50K
1,38,4,89814,11,9,2,5,0,4,1,0,0,50,39,<=50K
2,28,2,336951,7,12,2,11,0,4,1,0,0,40,39,>50K
3,44,4,160323,15,10,2,7,0,2,1,7688,0,40,39,>50K
4,18,0,103497,15,10,4,0,3,4,0,0,0,30,39,<=50K

In [47]:
data['income']=le.fit_transform(data['income'])
data['income'].unique()
data['income']

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48842, dtype: int64

In [63]:
X = data.drop('income',axis=1)
y = data['income']

(48842, 14)

In [52]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
std_scaler = StandardScaler()
transformed_data=std_scaler.fit_transform(X)
X_train,X_test,y_train,y_test=train_test_split(transformed_data,y,test_size=0.20,random_state=0)

array([[-1.3598164 , -2.64334788,  1.02734697, ..., -0.2171271 ,
        -0.03408696,  0.28946221],
       [ 0.24480847,  0.08848448, -0.08218648, ..., -0.2171271 ,
         0.93433309,  0.28946221],
       [-0.26575399,  2.13735875,  2.78274311, ..., -0.2171271 ,
        -0.03408696,  0.28946221],
       ...,
       [ 1.19299589,  0.08848448, -0.12994083, ...,  4.6885749 ,
         1.1764381 , -4.72644493],
       [-0.70337896,  1.45440066, -0.98569349, ..., -0.2171271 ,
        -2.85864544,  0.28946221],
       [ 1.48474587,  2.13735875, -0.50041346, ..., -0.2171271 ,
        -2.61654043,  0.28946221]])

In [54]:
from sklearn.naive_bayes import GaussianNB
Gaussian_NB = GaussianNB()
Gaussian_model = Gaussian_NB.fit(X_train,y_train)
y_pred_Gaussian = Gaussian_model.predict(X_test)

In [65]:
from sklearn import metrics
print("Accuracy using Gaussian : ",metrics.accuracy_score(y_test,y_pred_Gaussian))
print(metrics.classification_report(y_test,y_pred_Gaussian))

Accuracy using Gaussian :  0.8011055379260927
              precision    recall  f1-score   support

           0       0.82      0.95      0.88      7420
           1       0.67      0.34      0.45      2349

    accuracy                           0.80      9769
   macro avg       0.75      0.64      0.66      9769
weighted avg       0.78      0.80      0.78      9769